window {
    margin: 0px;
    border: 1px solid #333333;
    background-color: #1a1a1a;
}

#input {
    margin: 5px;
    padding: 8px;
    border: 1px solid #333333;
    color: #ffffff;
    background-color: #2a2a2a;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1a1a1a;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #1a1a1a;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #cccccc;
}

#entry {
    padding: 5px;
    border: none;
    background-color: transparent;
}

#entry:selected {
    background-color: #2a2a2a;
}

#entry:selected #text {
    color: #ffffff;
}

#img {
    margin-right: 8px;
    background-color: transparent;
}
