* {
    font-family: Noto, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: #000000;
    border-bottom: 2px solid #333333;
    color: #ffffff;
}

button {
    box-shadow: none;
    border: none;
    border-radius: 0;
}

button:hover {
    background: #333333;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    border-bottom: 2px solid #ffffff;
}

#workspaces button.focused {
    background-color: #ffffff;
    color: #000000;
}

#workspaces button.urgent {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

#mode {
    background-color: #ffffff;
    color: #000000;
    padding: 0 10px;
}

#window {
    color: #ffffff;
    padding: 0 10px;
}

#clock,
#battery,
#pulseaudio,
#tray,
#idle_inhibitor {
    padding: 0 10px;
    color: #ffffff;
}

#battery.warning {
    color: #ffffff;
    font-weight: bold;
}

#battery.critical {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

#battery.charging {
    color: #ffffff;
}

#idle_inhibitor.activated {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}

#tray {
    background-color: transparent;
}
